{{>header}}
<div class="container">
    <div class="row section-box">
        {{#if isLogged}}
        {{#each rooms}}
        <div class="col-sm-4 text-center description-text p-0">
            <span class="numbering-rooms">Room: {{id}}</span>
            </br>
            <button class="btn btn-dark">Join into the room</button>
            <br>
            <span class="is-room-secure">Is secured: {{isSecured}}</span>
        </div>
        {{/each}}
        {{else}}
        {{#each rooms}}
        <div class="col-sm-4 text-center description-text p-0">
            <span class="numbering-rooms">Room: {{id}}</span></br>
            <span class="is-room-secure">Is secured: {{isSecured}}</span>
        </div>
        {{/each}}
        {{/if}}
    </div>
</div>