{{>header}}
{{#unless password}}
<div class="login-box">
  <h2>Join in room</h2>
  <form action="/join-room/{{roomCode}}" method="POST">
    <div class="user-box">
      <input type="password" name="password" id="password" required="true">
      <label>Password</label>
    </div>
    <p id="info-about-reg">
    <ul>
      {{#each msg}}
      <li>{{this}}</li>
      {{/each}}
    </ul>
    </p>
    <button>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      Join
    </button>
  </form>
</div>
{{else}}
<div style="display: none;" id="to-remove">
  <div id="code">{{roomCode}}</div>
  <div id="username">{{user.username}}</div>
  <div id="uid">{{user.id}}</div>
</div>
<div class="content" id="content">
  <div class="left">
    <!-- VIDEO-START -->

    {{!-- <video id="my-video" class="video-js" controls preload="auto" data-setup="{}">
      <source src="./video.mp4" type="video/mp4" />
      <p class="vjs-no-js">
        To view this video please enable JavaScript, and consider upgrading to a
        web browser that
      </p>
    </video> --}}
    <iframe src="https://www.youtube.com/embed/Q8-rfnqXGms" title="YouTube video player" frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen="true"></iframe>
    <div id="player"></div>
    <!-- VIDEO-END -->
  </div>
  <div class="right">
    <div class="header-of-chat">
      <h1 id="title">Chat</h1>
      <i class="fa fa-comments"></i>
      {{#if isAdmin}}
      <i class="fa fa-user"></i>
      {{/if}}
    </div>
    {{#if isAdmin}}
    <div id="users-to-change">
      <div class="user-drop-down-panel">
        <div class="user-in-room">
          <i class="fa fa-user"></i>
          <h3>username</h3>
        </div>
        <div class="user-in-room">
          <div style="width:100%">
            <h3>Adnan</h3>
          </div>
          <div>
            <button class="btn btn-danger">Ban</button>
          </div>
        </div>
      </div>
    </div>
    {{/if}}
    <div id="chat-to-change">
      <div class="chat">
      </div>
      <div class="message-panel">
        <div class="message-holder">
          <input autocomplete="off" placeholder="Type something..." type="text" id="message">
          <i class="fa fa-paper-plane" aria-hidden="true" id="sendMessage"></i>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="https://vjs.zencdn.net/7.11.4/video.min.js"></script>
<script type="module" src="/scripts/Room.js"></script>
<script type="module" src="/scripts/index.js"></script>
{{/unless}}